USE [TP2_PLATAFORMAS]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 4/11/2022 21:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_caja_ahorro] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[monto] [float] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 4/11/2022 21:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
	[PAGADO] [bit] NOT NULL,
	[METODO] [varchar](50) NOT NULL,
	[DETALLE] [varchar](50) NOT NULL,
	[ID_METODO] [nvarchar] (200) NOT NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAZO_FIJO]    Script Date: 4/11/2022 21:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAZO_FIJO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
	[FECHA_INI] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NOT NULL,
	[TASA] [float] NOT NULL,
	[PAGADO] [bit] NOT NULL,
 CONSTRAINT [PK_PLAZO_FIJO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA_CREDITO]    Script Date: 4/11/2022 21:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA_CREDITO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[NUMERO] [nvarchar] (200) NOT NULL,
	[CODIGOV] [int] NOT NULL,
	[LIMITE] [float] NOT NULL,
	[CONSUMOS] [float] NOT NULL,
 CONSTRAINT [PK_TARJETA_CREDITO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_CAJA_AHORRO] FOREIGN KEY([id_caja_ahorro])
REFERENCES [dbo].[CAJA_AHORRO] ([ID])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_CAJA_AHORRO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_USUARIO]
GO
ALTER TABLE [dbo].[PLAZO_FIJO]  WITH CHECK ADD  CONSTRAINT [FK_PLAZO_FIJO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[PLAZO_FIJO] CHECK CONSTRAINT [FK_PLAZO_FIJO_USUARIO]
GO
ALTER TABLE [dbo].[TARJETA_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_TARJETA_CREDITO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[TARJETA_CREDITO] CHECK CONSTRAINT [FK_TARJETA_CREDITO_USUARIO]
GO
