USE [master]
GO
/****** Object:  Database [TP2_PLATAFORMAS]    Script Date: 24/10/2022 01:39:36 ******/
CREATE DATABASE [TP2_PLATAFORMAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP2_PLATAFORMAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP2_PLATAFORMAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP2_PLATAFORMAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP2_PLATAFORMAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP2_PLATAFORMAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP2_PLATAFORMAS]
GO
/****** Object:  Table [dbo].[CAJA_AHORRO]    Script Date: 24/10/2022 01:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA_AHORRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CBU] [int] NOT NULL,
	[TITULAR] [int] NULL,
	[SALDO] [numeric](10, 2) NOT NULL,
 CONSTRAINT [PK_CAJA_AHORRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/10/2022 01:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDO] [nvarchar](100) NOT NULL,
	[MAIL] [varchar](50) NOT NULL,
	[PASSWORD] [nvarchar](10) NOT NULL,
	[BLOQUEADO] [bit] NOT NULL,
	[ADMINISTRADOR] [bit] NOT NULL,
	[INTENTOS_LOGUEO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_CAJA_AHORRO]    Script Date: 24/10/2022 01:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_CAJA_AHORRO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_CAJA_AHORRO] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAJA_AHORRO]  WITH CHECK ADD  CONSTRAINT [FK_CAJA_AHORRO_USUARIO] FOREIGN KEY([TITULAR])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[CAJA_AHORRO] CHECK CONSTRAINT [FK_CAJA_AHORRO_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO_CAJA_AHORRO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CAJA_AHORRO_CAJA_AHORRO] FOREIGN KEY([ID_CAJA_AHORRO])
REFERENCES [dbo].[CAJA_AHORRO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_CAJA_AHORRO] CHECK CONSTRAINT [FK_USUARIO_CAJA_AHORRO_CAJA_AHORRO]
GO
USE [master]
GO
