USE [master]
GO
/****** Object:  Database [TP2_PLATAFORMAS]    Script Date: 12/11/2022 16:37:39 ******/
CREATE DATABASE [TP2_PLATAFORMAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP2_PLATAFORMAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP2_PLATAFORMAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP2_PLATAFORMAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP2_PLATAFORMAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP2_PLATAFORMAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP2_PLATAFORMAS]
GO
/****** Object:  Table [dbo].[CAJA_AHORRO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA_AHORRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CBU] [nvarchar](200) NOT NULL,
	[SALDO] [float] NOT NULL,
 CONSTRAINT [PK_CAJA_AHORRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_caja_ahorro] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[monto] [float] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
	[PAGADO] [tinyint] NOT NULL,
	[METODO] [varchar](50) NOT NULL,
	[DETALLE] [varchar](50) NOT NULL,
	[ID_METODO] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAZO_FIJO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAZO_FIJO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
	[FECHA_INI] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NOT NULL,
	[TASA] [float] NOT NULL,
	[PAGADO] [int] NOT NULL,
 CONSTRAINT [PK_PLAZO_FIJO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA_CREDITO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA_CREDITO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[NUMERO] [nvarchar](200) NOT NULL,
	[CODIGOV] [int] NOT NULL,
	[LIMITE] [float] NOT NULL,
	[CONSUMOS] [float] NOT NULL,
 CONSTRAINT [PK_TARJETA_CREDITO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDO] [nvarchar](100) NOT NULL,
	[MAIL] [varchar](50) NOT NULL,
	[PASSWORD] [nvarchar](10) NOT NULL,
	[BLOQUEADO] [bit] NOT NULL,
	[ADMINISTRADOR] [bit] NOT NULL,
	[INTENTOS_LOGUEO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_CAJA_AHORRO]    Script Date: 12/11/2022 16:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_CAJA_AHORRO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_CAJA_AHORRO] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_CAJA_AHORRO] FOREIGN KEY([id_caja_ahorro])
REFERENCES [dbo].[CAJA_AHORRO] ([ID])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_CAJA_AHORRO]
GO
ALTER TABLE [dbo].[PLAZO_FIJO]  WITH CHECK ADD  CONSTRAINT [FK_PLAZO_FIJO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[PLAZO_FIJO] CHECK CONSTRAINT [FK_PLAZO_FIJO_USUARIO]
GO
ALTER TABLE [dbo].[TARJETA_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_TARJETA_CREDITO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[TARJETA_CREDITO] CHECK CONSTRAINT [FK_TARJETA_CREDITO_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO_CAJA_AHORRO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CAJA_AHORRO_CAJA_AHORRO] FOREIGN KEY([ID_CAJA_AHORRO])
REFERENCES [dbo].[CAJA_AHORRO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_CAJA_AHORRO] CHECK CONSTRAINT [FK_USUARIO_CAJA_AHORRO_CAJA_AHORRO]
GO
ALTER TABLE [dbo].[USUARIO_CAJA_AHORRO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CAJA_AHORRO_USUARIO_CAJA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_CAJA_AHORRO] CHECK CONSTRAINT [FK_USUARIO_CAJA_AHORRO_USUARIO_CAJA_USUARIO]
GO
USE [master]
GO
